mixin services()
    .services
        h3.services__title.section-subtitle Чем мы занимаемся?
        .services__list
            .services__block
                h4.services__block-title Только товары для дома, строительства и ремонта.
                p.services__block-paragraph.
                    Только товары для дома, строительства и ремонта.
                p.services__block-paragraph.
                    Нельзя одинаково хорошо разбираться во всех отраслях рынка. Поэтому мы работаем на тех
                    секторах рынка, на котором имеем большой опыт и разбираемся лучше всего. И это гарантирует
                    результат нашим клиентам.
            .services__block
                h4.services__block-title Строим комплексный маркетинг и продажи.
                p.services__block-paragraph.
                    Строим комплексный маркетинг и продажи.
                p.services__block-paragraph.
                    Мы не делаем просто сайты. Не занимаемся просто продвижением. Это не принесет результаты.
                    Только комплексный маркетинг и и система продаж могут принести вам доходы и прибыль.