mixin news()
    aside.news
        h2.news__title Новости
        .news__list
            .news__list-item
                .news__list-item-date 14 сентября 2015г.
                .news__list-item-summary Акция на входные двери Фалько!
            .news__list-item
                .news__list-item-date 14 сентября 2015г.
                .news__list-item-summary Установка межкомнатных дверй в подарок при покупке 3-х полотен!
            .news__list-item
                .news__list-item-date 14 сентября 2015г.
                .news__list-item-summary Новинка! Термо двери Форт!
            .news__list-item
                .news__list-item-date 14 сентября 2015г.
                .news__list-item-summary Установка межкомнатных дверй в подарок при покупке 3-х полотен!
            .news__list-item
                .news__list-item-date 14 сентября 2015г.
                .news__list-item-summary Новинка! Термо двери Форт!
        a(href="#").news__more Архив акций